.item {
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item > div {
  margin-top: 80px;
}

.item:nth-child(1) {
  background-color: #5e5e5b22;
  color: #5e5e5b;
}

.item:nth-child(2) {
  background-color: #5e5e5b22;
  color: #5e5e5b;
}

.item:nth-child(3) {
  background-image: linear-gradient(#0009, #0009),
    url(../../assets/images/carosuel/at-paper-making-factory.jpg);
}

@media screen and (max-width: 1200px) {
  .item [class="container"] {
    width: 75% !important;
  }

  .item [class="container"] [class~="row"] {
    gap: 40px;
  }

  .item:nth-child(2) img {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .item [class="container"] {
    width: 100% !important;
    text-align: center;
  }
}
