.nav {
  background-color: var(--cp-bg-color);
  width: 100%;
  z-index: 999;
}

.logo {
  width: 60px;
}

.nav-link {
  font-size: 19px !important ;
  position: relative;
}

.nav-link::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #4b93ff;
  bottom: 0px;
  left: var(--bs-navbar-nav-link-padding-x);
  position: absolute;
  transition: width 400ms;
}

.nav-link:hover:before {
  width: calc(100% - var(--bs-navbar-nav-link-padding-x) * 2);
}

@media screen and (min-width: 992px) {
  .nav [class~="buttons-group"] {
    order: 2;
  }
}
@media screen and (max-width: 992px) {
  .nav-link::before {
    display: none;
    width: 0;
  }
}
