.footer {
  background-color: #15151e;
  color: #fff;
}

.footer [class~="about"] img {
  width: 40px;
  height: 40px;
}

.footer [class~="social"] a {
  text-decoration: none;
  font-size: 17px;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 7px 12px;
  display: inline-block;
  color: inherit;
}

.footer [class~="links"] ul li a,
.footer [class~="contact-details"] ul li a {
  text-decoration: none;
  border-bottom: 1px solid #333;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-bottom: 5px;
  padding-bottom: 10px;
  transition: color 400ms;
}

.footer [class~="links"] ul li a:hover {
  color: #4b93ff;
}

.footer [class~="links"] ul li i {
  font-size: 14px;
}

.footer [class~="contact-details"] ul li {
  font-size: 17px;
}
.footer [class~="contact-details"] ul li i {
  font-size: 18px;
}
