@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

:root {
  --cp-color-primary: #fafafa;
  --cp-color-secondary: #ffc80a;
  --cp-color-tertiary: #303030;
  --cp-bg-color: #ffffff;
  --cp-text-color: #000000;
  --cp-text-primary: #594f43;
  --cp-text-secondary: #777777;
  --cp-inputPlaceholder-color: #777777;
  --cp-darkText: #1a1a1a;
  --cp-text-danger: #df2e38;
  --cp-text-success: #82cd47;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 78px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo";
  color: var(--cp-darkText);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style-type: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  width: 100%;
}

/* =========> Main Carousel */
.carousel-item.active {
  display: flex;
}

nav .active {
  color: #4b93ff !important;
}

nav .active::before {
  width: calc(100% - var(--bs-navbar-nav-link-padding-x) * 2);
}

.carousel-control-next,
.carousel-control-prev {
  width: 40px;
  height: 40px;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%) rotate(45deg);
  text-align: center;
  background: #4b93ff;
  border: 0;
  font-size: 24px;
  border-radius: 4px;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-next {
  right: 30px;
}

.carousel-control-prev {
  left: 30px;
}

.prev-icon,
.next-icon {
  transform: rotate(-45deg);
}
